@font-face {
  font-family: "PT-Sans";
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2);
}

@font-face {
  font-family: "PT-Sans";
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "PT-Sans", sans-serif;
}

:root {
  --color-white: #fff;
  --color-black: #000;
  --color-text: #333333;
  --color-green: #7DB54F;
  --color-green-hover: #6C9E42;
  --color-blue: #82B3D3;
  --main-btn-color: #756157;
  --main-btn-color-hover: #615048;
  --blue-hover-color: #68A2CA;
  --input-hover-color: #E6E6E6;
  --catalog-input-bg: #F2F2F2;
}

button {
  text-transform: uppercase;
  cursor: pointer;
  border: none;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

label {
  cursor: pointer;
}

main {
  flex-grow: 1;
}

.visually-hidden {
  display: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  min-height: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin: 0 auto;
}

.container {
  padding: 0 70px;
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 64px;
  background-color: var(--color-white);
  z-index: 1;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.header-link-left {
  display: block;
  margin-right: 44px;
  align-self: start;
}

.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 64px;
}

.header-menu-items {
  margin-right: 32px;
}

.header-menu-link {
  padding: 20px 0;
  display: block;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: var(--color-dark);
}

.header-menu-link-active {
  border-bottom: 2px solid var(--color-black);
}

.header-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-right-items:first-child {
  margin-right: 24px;
}

.header-right-items:nth-child(2n) {
  margin-right: 32px;
}

.header-search,
.header-favorites {
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--color-white);
}

.header-search {
  background-image: url(../images/search.svg);
}

.header-favorites {
  background-image: url(../images/likes-icon.svg);
}

.header-favorites-quantity {
  position: absolute;
  display: block;
  padding: 4px;
  right: -7px;
  top: -11px;
  background-color: var(--color-green);
  border-radius: 50%;
  font-size: 10px;
  color: var(--color-white);
}

.btn {
  background-color: var(--main-btn-color);
  color: var(--color-white);
  border-radius: 4px;
  font-weight: 700;
}

.btn:hover,
.btn:focus {
  background-color: var(--main-btn-color-hover);
  transition: all 0.3s linear;
}

.btn:active {
  color: rgba(255, 255, 255, 0.3);
}

.main-btn {
  width: 160px;
  padding: 9px 8px 7px 6px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -1px;
}

.filters {
  height: 412px;
  padding-top: 35px;
  padding-bottom: 75px;
  background-image: url(../images/catalog-baner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/*  начало */
.hotels-title {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 60px;
  color: var(--color-white);
  line-height: 78px;
}

.breadcrumbs-list {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.breadcrumbs-link {
  position: relative;
  display: block;
  width: 13px;
  height: 15px;
  margin-right: 28px;
  background-image: url(../images/home-logo-cotalog.svg);
  background-repeat: no-repeat;
}

.breadcrumbs-link::after {
  position: absolute;
  content: "";
  width: 8px;
  height: 11px;
  right: -18px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url(../images/arrow-logo.svg);
  background-repeat: no-repeat;
}

.breadcrumbs-link-text {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: var(--color-white);
}

.breadcrumbs-link-text:hover {
  text-decoration: underline;
}


.catalog-filters-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.catalog-filters-list {
  display: flex;
  justify-content: space-between;
}

.form-title {
  display: block;
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: var(--color-white);
}

.chekbox-form {
  margin-bottom: 16px;
  position: relative;
}

.chekbox-form input {
  position: absolute;
  background-color: var(--color-white);
  opacity: 0;
  cursor: pointer;
  z-index: -1;
}

.chekbox-form label {
  padding-left: 36px;
  font-size: 18px;
  line-height: 23px;
  color: var(--color-white);
  cursor: pointer;
}

.chekbox-form label:hover {
  opacity: 0.6;
  transition: all 0.3s linear;
}

.chekbox-form label:active {
  opacity: 0.3;
}

.chekbox-form input + label::before,
.chekbox-form input:checked + label::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--color-white);
  border-radius: 4px;
}

.chekbox-form input:checked + label::before {
  background-image: url(../images/checkbox-checked.svg);
  background-repeat: no-repeat;
}

.chekbox-form input:focus:not(:checked) + label::before,
.chekbox-form input:focus + label::before {
  box-shadow: 0 0 2px 3px var(--blue-hover-color);
}

.catalog-radio {
  margin-right: 70px;
}

.radio-form {
  margin-bottom: 16px;
}

.radio-form input {
  position: absolute;
  background-color: var(--color-white);
  opacity: 0;
  cursor: pointer;
  z-index: -1;
}

.radio-form label {
  position: relative;
  padding-left: 36px;
  font-size: 18px;
  line-height: 23px;
  color: var(--color-white);
  cursor: pointer;
}

.radio-form label:hover {
  opacity: 0.6;
  transition: all 0.3s linear;
}

.radio-form label:active {
  opacity: 0.3;
}

.radio-form input + label::before,
.radio-form input:checked + label::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--color-white);
  border-radius: 50%;
}

.radio-form input:checked + label::before {
  background-image: url(../images/radio-checked.svg);
  background-repeat: no-repeat;
}

.radio-form input:focus:not(:checked) + label::before,
.radio-form input:focus + label::before {
  box-shadow: 0 0 2px 3px var(--blue-hover-color);
}

.catalog-price {
  max-width: 288px;
}

.catalog-price-btns-top {
  display: flex;
  align-items: center;
  margin-bottom: 48px;
}

.min-price,
.max-price {
  margin-right: 2px;
  position: relative;
}

.min-price input,
.max-price input {
  display: block;
  width: 100%;
  padding: 12px 20px;
  background-color: var(--catalog-input-bg);
  border: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  outline: none;
}

.min-price input:hover,
.max-price input:hover {
  background-color: var(--input-hover-color);
  transition: all 0.3s linear;
}

.min-price input:focus,
.max-price input:focus {
  box-shadow: 0 0 3px 2px var(--blue-hover-color);
}

.min-price input:active,
.max-price input:active {
  box-shadow: 0 0 3px 1px var(--color-black);
}

.min-price input {
  border-radius: 4px 0 0 4px;
}

.max-price input {
  border-radius: 0 4px 4px 0;
}

.price-text {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  opacity: 0.3;
}

.catalog-range-controls {
  position: relative;
}

.catalog-line {
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
}

.line-bar {
  width: 75%;
  height: 2px;
  background-color: var(--color-white);
}

.toggle-min,
.toggle-max {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--color-white);
  border-radius: 5px;
  cursor: pointer;
}

.toggle-min:hover,
.toggle-max:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.toggle-min:focus,
.toggle-max:focus {
  box-shadow: 0 0 3px 2px var(--blue-hover-color);
}

.toggle-min:active,
.toggle-max:active {
  box-shadow: 0 0 3px 1px var(--blue-hover-color);
}

.toggle-max {
  left: 75%;
}

.catalog-btns {
  display: flex;
  flex-direction: column;
  padding-top: 56px;
}

.catalog-btn-apply,
.catalog-btn-reset {
  padding: 8px 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
}

.catalog-btn-apply {
  margin-bottom: 30px;
}

.catalog-btn-reset {
  background-color: transparent;
  color: var(--color-white);
}

.catalog-btn-reset:hover {
  opacity: 0.6;
}

.catalog-btn-reset:focus {
  box-shadow: 0 0 3px 3px var(--blue-hover-color);
}

.hotels-found {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0 40px;
}

.hotels-found-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.control-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.select-control {
  min-width: 287px;
  margin-right: 50px;
  padding: 15px 4px;
  border: 2px solid var(--input-hover-color);
  border-radius: 4px;
  cursor: pointer;
}

.select-control:hover,
.select-control:focus {
  border: 2px solid var(--blue-hover-color);
}

.hotels-found-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hotels-found-item {
  margin-left: 8px;
}

.hotels-found-first,
.hotels-found-second,
.hotels-found-third {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 24px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid var(--input-hover-color);
  border-radius: 4px;
  cursor: pointer;
}

.hotels-found-first:hover,
.hotels-found-second:hover,
.hotels-found-third:hover {
  border: 2px solid var(--color-black);
}

.hotels-found-first:focus,
.hotels-found-second:focus,
.hotels-found-third:focus {
  border: 2px solid var(--blue-hover-color);
}

.hotels-found-active {
  border: 2px solid var(--color-black);
}

.hotels-lists {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--input-hover-color);
}

.hotels-lists-item {
  width: 340px;
  min-height: 438px;
  padding: 19px;
  margin-bottom: 19px;
  border: 1px solid var(--input-hover-color);
  border-radius: 4px;
}

.hotels-lists-img {
  display: block;
  margin-bottom: 16px;
}

.hotels-lists-title {
  margin-bottom: 16px;
  font-size: 24px;
  line-height: 28px;
}

.hotels-lists-text-align {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hotels-lists-text-left,
.hotels-lists-text-right {
  display: block;
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 21px;
  color: var(--color-text);
}

.hotels-lists-btns-align {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.hotels-lists-btn,
.hotels-green-btn {
  width: 140px;
  padding: 8px 0;
  font-size: 16px;
  line-height: 20px;
}

.hotels-green-btn {
  background-color: var(--color-green);
}

.hotels-green-btn:hover,
.hotels-green-btn:focus {
  background-color: var(--color-green-hover);
}

.hotels-green-btn:active {
  color: rgb(255, 255, 255 0.3);
}

.hotels-lists-ratings {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rating-stars-list {
  display: flex;
  align-items: center;
}

.rating-stars-item {
  width: 18px;
  height: 17px;
  margin-right: 6px;
  background-image: url(../images/rating-star.svg);
  background-repeat: no-repeat;
}

.rating-text {
  display: block;
  width: 140px;
  padding: 8px 0;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  background-color: var(--catalog-input-bg);
  border-radius: 4px;
}

.hotels-pagination-lists {
  display: flex;
  align-items: center;
  padding: 40px 0 60px;
}

.hotels-pagination-item {
  width: 60px;
  height: 60px;
  margin-right: 8px;
}

.hotels-pagination-span {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 22px;
  line-height: 26px;
}

.hotels-pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: var(--color-white);
  background-color: var(--color-blue);
  border-radius: 4px;
}

.hotels-pagination-link:hover,
.hotels-pagination-link:focus {
  background-color: var(--blue-hover-color);
}

.hotels-pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.pagination-link-active,
.pagination-link-active:hover,
.pagination-link-active:focus,
.pagination-link-active:active {
  background-color: var(--catalog-input-bg);
  color: var(--color-black);
}

.subscribe-mail {
  min-height: 414px;
  padding: 96px 0 104px;
  background-color: var(--color-white);
  text-align: center;
}

.subscribe-mail-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: var(--color-black);
}

.subscribe-mail-text {
  display: block;
  max-width: 475px;
  margin: 0 auto;
  margin-bottom: 54px;
  font-size: 22px;
  line-height: 26px;
  color: var(--color-text);
}

.mail-form {
  display: flex;
  justify-content: center;
  max-width: 684px;
  margin: 0 auto;
}

.mail-input {
  display: block;
  width: 100%;
  padding: 8px 20px;
  background-color: var(--catalog-input-bg);
  border: none;
  border-radius: 4px 0 0 4px;
  outline: none;
}

.mail-input:hover {
  background-color: var(--input-hover-color);
  transition: all 0.3s linear;
}

.mail-input:focus {
  box-shadow: 0 0 3px 1px var(--blue-hover-color);
}

.mail-input:active {
  box-shadow: 0 0 3px 1px var(--color-black);
}

.secondory-btn {
  font-weight: 700;
  background-color: var(--color-blue);
  color: var(--color-white);
  border-radius: 4px;
}

.secondory-btn:hover,
.secondory-btn:focus {
  background-color: var(--blue-hover-color);
  transition: all 0.3s linear;
}

.secondory-btn:active {
  color: rgba(255, 255, 255, 0.3);
}

.subscribe-btn {
  padding: 8px 40px;
  font-size: 20px;
  line-height: 36px;
  border-radius: 0 4px 4px 0;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.footer-social-list {
  display: flex;
  align-items: center;
}

.social-item:first-child {
  margin: 16px 26px 0 11px;
}

.social-item:nth-child(2) {
  margin: 16px 27px 0 0;
}


.social-item:last-child {
  margin: 18px 0 0;
}

.footer-social-link {
  display: block;
}

.footer-social-link:hover path,
.footer-social-link:focus path {
  fill: var(--blue-hover-color);
  transition: all 0.3s linear;
}

.footer-social-link:active path {
  fill: rgba(131, 179, 211, 0.3);
}

.footer-number {
  padding: 45px 0 30px;
  margin-left: 13px;
  font-size: 40px;
  line-height: 40px;
  color: var(--color-black);
  text-transform: uppercase;
}

.footer-number:hover,
.footer-number:focus {
  color: var(--main-btn-color);
  transition: all 0.3s linear;
}

.footer-number:active {
  opacity: 0.3;
}

.footer-logo {
  display: block;
  margin-top: 48px;
}

.footer-logo:hover path,
.footer-logo:focus path {
  fill: var(--main-btn-color);
  transition: all 0.3s linear;
}

.footer-logo:active path {
  fill: rgba(0, 0, 0, 0.3);
}
