@font-face {
  font-family: "PT-Sans";
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2);
}

@font-face {
  font-family: "PT-Sans";
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "PT-Sans", sans-serif;
}

:root {
  --color-white: #fff;
  --color-black: #000;
  --color-text: #333333;
  --color-green: #7DB54F;
  --color-blue: #82B3D3;
  --main-btn-color: #756157;
  --main-btn-color-hover: #615048;
  --blue-hover-color: #68A2CA;
  --input-hover-color: #E6E6E6;
  --modal-shadow-bgc: #f2f2f2;
  --madal-span-color-red: #FF5757;
  --modal-counter-color: #756157;
}

button {
  background-color: transparent;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

label, a {
  cursor: pointer;
}

img {
  display: block;
}

main {
  flex-grow: 1;
}

.visually-hidden {
  display: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  min-height: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin: 0 auto;
}

.container {
  padding: 0 70px;
}

.header {
  position: relative;
  display: flex;
  background-color: var(--color-white);
  min-height: 64px;
}

.header-logo {
  position: absolute;
  z-index: 1;
}

.header-menu {
  display: flex;
  list-style: none;
  align-items: center;
  flex-wrap: wrap;
  gap: 0 32px;
  padding-left: 44px;
  margin: 0;
  margin-left: 140px;
}

.header-menu-items {
  padding: 20px 0;
  border-bottom: 2px transparent;
}

.header-menu-link {
  position: relative;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  padding: 20px 0;
  color: var(--color-text);
  z-index: 1;
}

.header-menu-link:hover {
  transition: all 0.3s linear;
  color: var(--blue-hover-color);
}

.header-menu-link-active {
  top: -2px;
  border-bottom: 2px solid var(--color-black);
}

.header-menu-link-active:hover {
  color: var(--color-text);
}

.header-right {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-right-items:first-child {
  margin-right: 24px;
}

.header-right-items:nth-child(2) {
  margin-right: 32px;
}

.header-search,
.header-favorites {
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--color-white);
}

.header-search {
  background-image: url(../images/search.svg);
}

.header-favorites {
  background-image: url(../images/likes-icon.svg);
}

.header-favorites-quantity {
  position: absolute;
  display: block;
  padding: 4px;
  right: -8px;
  top: -11px;
  background-color: var(--color-green);
  border-radius: 50%;
  font-size: 10px;
  color: var(--color-white);
}

.header-search:hover,
.header-favorites:hover {
  opacity: 0.6;
}

.btn {
  background-color: var(--main-btn-color);
  color: var(--color-white);
  border-radius: 4px;
  font-weight: 700;
}

.btn:hover,
.btn:focus {
  background-color: var(--main-btn-color-hover);
  transition: all 0.3s linear;
}

.btn:active {
  color: rgba(255, 255, 255, 0.3);
}

.main-btn {
  width: 160px;
  padding: 9px 8px 7px 6px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -1px;
}

.hero {
  position: relative;
  display: flex;
  justify-content: center;
  height: 485px;
  background-color: #85afcd;
  background-image: url(../images/index-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 51px 0 82px 0;
}

.hero::after {
  content: "";
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  bottom: -1px;
  height: 57px;
  background-color: transparent;
  background-image: url(../images/mask.svg);
  background-repeat: no-repeat;
  background-position: 0 50%;
  background-size: 100% 57px;
}

.advantages {
  text-align: center;
  padding: 69px 0 90px;
}

.advantages-title {
  max-width: 620px;
  margin: 0 auto 23px;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
}

.advantages-text {
  font-size: 22px;
  color: var(--color-text);
}

.main-info-list {
  display: grid;
  grid-template-columns: repeat(3, 400px);
}

.main-info-item {
  background-color: rgba(131, 179, 211, 0.12);
}

.main-info-item:first-child,
.main-info-item:last-child {
  padding: 102px 87px 102px;
}

.main-info-item:nth-child(3),
.main-info-item:nth-child(4),
.main-info-item:nth-child(5) {
  padding: 113px 87px 112px;
}

.main-info-item:first-child,
.main-info-item:last-child {
  background-color: var(--color-blue);
}

.main-info-item:nth-child(4) {
  padding: 113px 80px 109px;
  background-color: rgba(131, 179, 211, 0.2);
}

.main-info-item:nth-child(2) {
  grid-column-start: 2;
  grid-column-end: 4;
}

.main-info-item:nth-child(6) {
  grid-column-start: 1;
  grid-column-end: 3;
}

.grid-title {
  position: relative;
  display: block;
  max-width: 175px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  margin-bottom: 62px;
  color: var(--color-black);
}

.grid-title::after {
  position: absolute;
  content: "";
  width: 60px;
  height: 2px;
  bottom: -31px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.3);
}

.grid-title-white::after {
  background-color: rgba(255, 255, 255, 0.3);
}

.grid-title-white {
  color: var(--color-white);
}

.grid-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  color: var(--color-text);
}

.grid-text-white {
  color: var(--color-white);
}

.rest {
  text-align: center;
  padding: 64px 0;
}

.rest-title {
  max-width: 505px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  font-size: 30px;
  text-transform: uppercase;
  line-height: 36px;
}

.rest-text {
  margin-top: 25px;
  font-size: 22px;
  line-height: 26px;
  color: var(--color-text);
}

.services-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.services-item {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  width: 400px;
  min-height: 385px;
  padding: 80px 85px;
  background-color: var(--color-white);
}

.services-item:first-child,
.services-item:last-child {
  background-color: rgba(131, 179, 211, 0.12);
}

.services-img {
  margin-bottom: 32px;
}

.services-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-black);
}

.services-text {
  margin-top: 30px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: var(--color-text);
}

.interested {
  text-align: center;
  padding: 96px 304px;
}

.interested-title {
  max-width: 592px;
  margin: 0 auto 20px;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
}

.interested-text {
  max-width: 592px;
  margin: 0 auto 54px;
  font-size: 22px;
  line-height: 26px;
  color: var(--color-text);
}

.interested-text-span {
  display: block;
}

.interested-btn {
  padding: 8px 50px;
  font-size: 20px;
  line-height: 36px;
  letter-spacing: -1.7px;
}

.subscribe-mail {
  min-height: 414px;
  padding: 96px 258px 104px;
  background-image: url(../images/baner-email.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.subscribe-mail-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: var(--color-white);
}

.subscribe-mail-text {
  display: block;
  max-width: 475px;
  margin: 0 auto 55px;
  font-size: 22px;
  line-height: 26px;
  color: var(--color-white);
}

.mail-form {
  display: flex;
  justify-content: center;
}

.mail-input {
  display: block;
  width: 100%;
  padding: 10px 20px 6px;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.6px;
  background-color: var(--color-white);
  border: none;
  border-radius: 4px 0 0 4px;
}

.mail-input:hover,
.mail-input:focus {
  background-color: var(--input-hover-color);
  transition: all 0.3s linear;
}

.secondory-btn {
  font-weight: 700;
  background-color: var(--color-blue);
  color: var(--color-white);
}

.secondory-btn:hover,
.secondory-btn:focus {
  background-color: var(--blue-hover-color);
  transition: all 0.3s linear;
}

.secondory-btn:active {
  color: rgba(255, 255, 255, 0.3);
}

.subscribe-btn {
  padding: 8px 50px;
  font-size: 20px;
  line-height: 36px;
  border-radius: 0 4px 4px 0;
  letter-spacing: -2.1px;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.footer-social-list {
  display: flex;
  align-items: center;
}

.social-item:first-child {
  margin: 16px 26px 0 11px;
}

.social-item:nth-child(2) {
  margin: 16px 27px 0 0;
}


.social-item:last-child {
  margin: 18px 0 0;
}

.footer-social-link {
  display: block;
}

.footer-social-link:hover path,
.footer-social-link:focus path {
  fill: var(--blue-hover-color);
  transition: all 0.3s linear;
}

.footer-social-link:active path {
  fill: rgba(131, 179, 211, 0.3);
}

.footer-number {
  padding: 45px 0 30px;
  margin-left: 13px;
  font-size: 40px;
  line-height: 40px;
  color: var(--color-black);
  text-transform: uppercase;
}

.footer-number:hover,
.footer-number:focus {
  color: var(--main-btn-color);
  transition: all 0.3s linear;
}

.footer-number:active {
  opacity: 0.3;
}

.footer-logo {
  display: block;
  margin-top: 48px;
}

.footer-logo:hover path,
.footer-logo:focus path {
  fill: var(--main-btn-color);
  transition: all 0.3s linear;
}

.footer-logo:active path {
  fill: rgba(0, 0, 0, 0.3);
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
}

.modal.modal_show {
  display: block;
}

.modal__shadow {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: var(--modal-shadow-bgc);
  opacity: 0.8;
}

.modal__content {
  position: absolute;
  width: 717px;
  min-height: 576px;
  padding: 64px 70px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-white);
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  z-index: 2;
}

.modal__top {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 64px;
}

.modal-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.modal-btn__exit {
  position: absolute;
  width: 52px;
  height: 52px;
  top: 0;
  right: -17px;
  border-radius: 50%;
}

.modal-btn__exit:hover circle {
  fill: var(--input-hover-color);
}

.modal-btn__exit:focus {
  box-shadow: 0 0 3px 2px var(--blue-hover-color);
}

.modal__list {
  display: flex;
  flex-direction: column;
}

.modal__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.modal__item_full .modal__label,
.modal__label.modal__label_adult {
  min-width: 137px;
  margin-right: 0;
}

.modal__item:last-child {
  margin-bottom: 48px;
}

.modal__label {
  display: block;
  margin-right: 24px;
  padding: 12px 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.modal__label-children {
  min-width: auto;
  margin-right: 10px;
}

.modal__input-cont {
  flex-grow: 1;
}

.modal__date-input {
  display: block;
  width: 100%;
  padding: 12px 20px;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -1px;
  border: none;
  background-color: var(--modal-shadow-bgc);
  background-image: url('../images/icon-calendar.svg');
  background-repeat: no-repeat;
  background-position: calc(100% - 20px) center;
  border-radius: 4px;
  cursor: pointer;
}

.modal__date-input:hover {
  background-color: var(--input-hover-color);
}

.modal__date-input:focus {
  box-shadow: 0 0 3px 1px var(--blue-hover-color);
}

.modal__span-text {
  display: block;
  padding: 0 20px;
}

.modal__span-red {
  color: var(--madal-span-color-red);
}

.counter {
  display: flex;
  align-items: center;
}

.popover {
  position: relative;
}

.popover__content {
  position: absolute;
  width: 256px;
  padding: 15px 18px 23px 22px;
  top: calc(100% + 15px);
  left: 50%;
  background-color: var(--color-text);
  border-radius: 10px;
  color: var(--color-white);
  line-height: 20px;
  z-index: 1;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  transition: opacity linear 0.3s;
}

.popover__content:before {
  position: absolute;
  content: "";
  top: -9px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 9px solid var(--color-text);
}

.popover__trigger {
  display: block;
  padding: 3px 12px 4px 12px;
  background-color: var(--color-blue);
  color: var(--color-white);
  border-radius: 50%;
  cursor: pointer;
}

.popover__trigger:hover + .popover__content {
  opacity: 1;
  visibility: visible;
}

.counter__field {
  display: flex;
  align-items: center;
  max-width: 110px;
  background-color: var(--modal-shadow-bgc);
  border-radius: 4px;
}

.counter__field-children {
  margin-left: 46px;
}

.counter__input {
  display: block;
  width: 100%;
  height: 48px;
  padding: 3px 0 0 3px;
  text-align: center;
  font-size: 18px;
  line-height: 20px;
  background-color: transparent;
  border: none;
}

.counter__minus,
.counter__plus {
  position: relative;
  height: 48px;
  min-width: 40px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
}

.counter__minus {
  border-radius: 4px 0 0 4px;
  background-image: url(../images/minus.svg);
}

.counter__plus {
  border-radius: 0 4px 4px 0;
  background-image: url(../images/plus.svg);
}

.counter__minus:hover,
.counter__plus:hover,
.counter__input:hover {
  background-color: var(--input-hover-color);
  color: var(--color-black);
}

.modal__bnt {
  width: 100%;
  padding: 18px 0;
  font-size: 20px;
  line-height: 24px;
  border-radius: 10px;
}

/*hotels-page*/
.filters {
  min-height: 412px;
  padding-top: 35px;
  padding-bottom: 56px;
  background-color: #85afcd;
  background-image: url(../images/catalog-baner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/*  начало */
.hotels-title {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 60px;
  color: var(--color-white);
  line-height: 78px;
}

.breadcrumbs-list {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.breadcrumbs-link {
  position: relative;
  display: block;
  width: 13px;
  height: 15px;
  margin-right: 28px;
  background-image: url(../images/home-logo-cotalog.svg);
  background-repeat: no-repeat;
}

.breadcrumbs-link::after {
  position: absolute;
  content: "";
  width: 8px;
  height: 11px;
  right: -18px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url(../images/arrow-logo.svg);
  background-repeat: no-repeat;
}

.breadcrumbs-link-text {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: var(--color-white);
}

.breadcrumbs-link-text:hover {
  text-decoration: underline;
}


.catalog-filters-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.catalog-filters-list {
  display: flex;
  justify-content: space-between;
}

.form-title {
  display: block;
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: var(--color-white);
}

.catalog-checkbox {
  width: 150px;
}

.chekbox-form {
  margin-bottom: 16px;
  position: relative;
}

.chekbox-form input {
  position: absolute;
  background-color: var(--color-white);
  opacity: 0;
  cursor: pointer;
  z-index: -1;
}

.chekbox-form label {
  display: block;
  padding-left: 36px;
  font-size: 18px;
  line-height: 23px;
  color: var(--color-white);
  cursor: pointer;
}

.chekbox-form label:hover {
  opacity: 0.6;
  transition: all 0.3s linear;
}

.chekbox-form label:active {
  opacity: 0.3;
}

.chekbox-form input + label::before,
.chekbox-form input:checked + label::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--color-white);
  border-radius: 4px;
}

.chekbox-form input:checked + label::before {
  background-image: url(../images/checkbox-checked.svg);
  background-repeat: no-repeat;
}

.chekbox-form input:focus:not(:checked) + label::before,
.chekbox-form input:focus + label::before {
  box-shadow: 0 0 2px 3px var(--blue-hover-color);
}

.catalog-radio {
  width: 148px;
  margin-right: 70px;
}

.radio-form {
  margin-bottom: 16px;
}

.radio-form input {
  position: absolute;
  background-color: var(--color-white);
  opacity: 0;
  cursor: pointer;
  z-index: -1;
}

.radio-form label {
  display: block;
  position: relative;
  padding-left: 36px;
  font-size: 18px;
  line-height: 23px;
  color: var(--color-white);
  cursor: pointer;
}

.radio-form label:hover {
  opacity: 0.6;
  transition: all 0.3s linear;
}

.radio-form label:active {
  opacity: 0.3;
}

.radio-form input + label::before,
.radio-form input:checked + label::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--color-white);
  border-radius: 50%;
}

.radio-form input:checked + label::before {
  background-image: url(../images/radio-checked.svg);
  background-repeat: no-repeat;
}

.radio-form input:focus:not(:checked) + label::before,
.radio-form input:focus + label::before {
  box-shadow: 0 0 2px 3px var(--blue-hover-color);
}

.catalog-price {
  position: relative;
  max-width: 290px;
  left: 2px;
}

.catalog-price-btns-top {
  display: flex;
  align-items: center;
  margin-bottom: 45px;
}

.min-price,
.max-price {
  margin-right: 2px;
  position: relative;
}

.min-price input,
.max-price input {
  display: block;
  width: 100%;
  padding: 12px 20px;
  background-color: var(--modal-shadow-bgc);
  border: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  outline: none;
}

.min-price input:hover,
.max-price input:hover {
  background-color: var(--input-hover-color);
  transition: all 0.3s linear;
}

.min-price input:focus,
.max-price input:focus {
  box-shadow: 0 0 3px 2px var(--blue-hover-color);
}

.min-price input:active,
.max-price input:active {
  box-shadow: 0 0 3px 1px var(--color-black);
}

.min-price input {
  border-radius: 4px 0 0 4px;
}

.max-price input {
  border-radius: 0 4px 4px 0;
}

.price-text {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  opacity: 0.3;
}

.catalog-range-controls {
  position: relative;
}

.catalog-line {
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
}

.line-bar {
  width: 75%;
  height: 2px;
  background-color: var(--color-white);
}

.toggle-min,
.toggle-max {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--color-white);
  border-radius: 5px;
  cursor: pointer;
}

.toggle-min:hover,
.toggle-max:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.toggle-min:focus,
.toggle-max:focus {
  box-shadow: 0 0 3px 2px var(--blue-hover-color);
}

.toggle-min:active,
.toggle-max:active {
  box-shadow: 0 0 3px 1px var(--blue-hover-color);
}

.toggle-max {
  left: 71%;
}

.catalog-btns {
  display: flex;
  flex-direction: column;
  padding-top: 56px;
  width: 192px;
}

.catalog-btn-apply,
.catalog-btn-reset {
  padding: 8px 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -1px;
  border-radius: 4px;
}

.catalog-btn-apply {
  margin-bottom: 33px;
}

.catalog-btn-reset {
  background-color: transparent;
  color: var(--color-white);
}

.catalog-btn-reset:hover {
  opacity: 0.6;
}

.catalog-btn-reset:focus {
  box-shadow: 0 0 3px 3px var(--blue-hover-color);
}

.hotels-found {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0 39px;
}

.hotels-found-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.control-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.select-control {
  min-width: 291px;
  margin-right: 63px;
  padding: 12px 18px;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -1.1px;
  border: 2px solid var(--input-hover-color);
  border-radius: 4px;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  background-image: url(../images/select-arrow.svg);
  background-repeat: no-repeat;
  background-position:  right 18px center;
}

.select-control:hover,
.select-control:focus {
  border: 2px solid var(--blue-hover-color);
}

.hotels-found-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hotels-found-item {
  margin-left: 8px;
}

.hotels-found-first,
.hotels-found-second,
.hotels-found-third {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 15px 14px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: 2px solid var(--input-hover-color);
  border-radius: 4px;
  cursor: pointer;
}

.hotels-found-first:hover,
.hotels-found-second:hover,
.hotels-found-third:hover {
  border: 2px solid var(--color-black);
}

.hotels-found-first:focus,
.hotels-found-second:focus,
.hotels-found-third:focus {
  border: 2px solid var(--blue-hover-color);
}

.hotels-found-active {
  border: 2px solid var(--color-black);
}

.hotels-lists {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 18px 19px;
  padding-bottom: 40px;
  border-bottom: 1px solid var(--input-hover-color);
}

.hotels-lists-item {
  width: 340px;
  min-height: 438px;
  padding: 20px 19px 21px 19px;
  border: 1px solid var(--input-hover-color);
  border-radius: 4px;
}

.hotels-lists-img {
  display: block;
  margin-bottom: 17px;
}

.hotels-lists-title {
  margin-bottom: 16px;
  font-size: 24px;
  line-height: 28px;
}

.hotels-lists-text-align {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.hotels-lists-text-left,
.hotels-lists-text-right {
  display: block;
  font-size: 18px;
  line-height: 21px;
  color: var(--color-text);
}

.hotels-lists-btns-align {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.hotels-lists-btn,
.hotels-green-btn {
  display: inline-block;
  width: 140px;
  padding: 8px 0;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}

.hotels-green-btn {
  background-color: var(--color-green);
}

.hotels-green-btn:hover,
.hotels-green-btn:focus {
  background-color: var(--color-green-hover);
}

.hotels-green-btn:active {
  color: rgb(255, 255, 255, 0.3);
}

.hotels-lists-ratings {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rating-stars-list {
  display: flex;
  align-items: center;
}

.rating-stars-item {
  width: 18px;
  height: 17px;
  margin-right: 6px;
  background-image: url(../images/rating-star.svg);
  background-repeat: no-repeat;
}

.rating-text {
  display: block;
  width: 140px;
  padding: 8px 0;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  background-color: var(--modal-shadow-bgc);
  border-radius: 4px;
}

.hotels-pagination-lists {
  display: flex;
  align-items: center;
  padding: 38px 0 60px;
}

.hotels-pagination-item {
  width: 60px;
  height: 60px;
  margin-right: 8px;
}

.hotels-pagination-span {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 22px;
  line-height: 26px;
}

.hotels-pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: var(--color-white);
  background-color: var(--color-blue);
  border-radius: 4px;
}

.hotels-pagination-link:hover,
.hotels-pagination-link:focus {
  background-color: var(--blue-hover-color);
}

.hotels-pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.pagination-link-active,
.pagination-link-active:hover,
.pagination-link-active:focus,
.pagination-link-active:active {
  background-color: var(--modal-shadow-bgc);
  color: var(--color-black);
}

.hotels-subscribe-mail {
  min-height: 414px;
  padding: 96px 0 104px;
  background-color: var(--color-white);
  text-align: center;
}

.hotels-subscribe-mail-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: var(--color-black);
}

.hotels-subscribe-mail-text {
  display: block;
  max-width: 475px;
  margin: 0 auto 55px;
  font-size: 22px;
  line-height: 26px;
  color: var(--color-text);
}

.mail-form {
  display: flex;
  justify-content: center;
  max-width: 684px;
  margin: 0 auto;
}

.mail-input {
  display: block;
  width: 100%;
  padding: 15px 20px 13px;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.7px;
  background-color: var(--modal-shadow-bgc);
  border: none;
  border-radius: 4px 0 0 4px;
  outline: none;
}

.mail-input:hover {
  background-color: var(--input-hover-color);
  transition: all 0.3s linear;
}

.mail-input:focus {
  box-shadow: 0 0 3px 1px var(--blue-hover-color);
}

.mail-input:active {
  box-shadow: 0 0 3px 1px var(--color-black);
}

.secondory-btn {
  font-weight: 700;
  background-color: var(--color-blue);
  color: var(--color-white);
  border-radius: 4px;
}

.secondory-btn:hover,
.secondory-btn:focus {
  background-color: var(--blue-hover-color);
  transition: all 0.3s linear;
}

.secondory-btn:active {
  color: rgba(255, 255, 255, 0.3);
}

.subscribe-btn {
  padding: 8px 50px;
  font-size: 20px;
  line-height: 36px;
  letter-spacing: -2.1px;
  border-radius: 0 4px 4px 0;
}
